
.page-home {

  padding-top: 100px;
}



.why-us {
  background-color: $red;
  padding-top: 127px;
  min-height: 780px;

  .images {


    .main-img {
      width: 415px;
      height: 350px;
      padding: 25px 35px ;
      background-color: #fff;
      img  {
        width: 100%;
        height: 100%;
      }
    }

    .little {
      width: 195px;
      height: 158px;
      margin-right: 150px;
    }

    .phone {
      width: 65px;
      height: 114px;
    }
  }

  .why-info {
    color: $white;

    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 0;
    }

    .sub-title {
      font-weight: 400;
      margin-bottom: 40px;
    }

    p {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .down {
    text-align: center;
    position: relative;
    top: 70px;

    a {
      width: 30px;
      height: 20px;
      color: $white;
      font-size: 30px;
      display: inline-block;
    }
  }
}

.welcome {
  padding-top: 60px;

  .image {
    width: 338px;
    height: 511px;

    img {
      max-width: 100%;
      height: inherit;
      max-height: 100%;
    }
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  .description {
    font-size: 18px;
    line-height: 24px;
    color: #004966;
  }
}


.offering-section {
  padding: 100px;
  background-color: #004966;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 24px;
    color: $white;
    margin-bottom: 30px;
  }
  .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $white;
  }


  .offers {

    .label {
      margin-bottom: 40px;
    }

    .offer-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 24px;
      color: $white;
      margin-bottom: 17px;
    }
    .offer-content {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: $white;
    }
  }
}

.portfolio {
  padding: 100px 0;
  text-align: center;
}