@import 'variables';
@import 'header';
@import 'footer';
@import 'helper-classes';
@import 'widgets-section';
@import 'single-post';
@import 'home-page';
@import 'blog-page';


/*-----=====  General style   =====-----*/
html {
position: relative;
}

body {
  position: relative;
  top: 0;
  font-family: $roboto;
}


a {
  text-decoration: none;
}

.sidebar {
  width: 300px;
  //position: absolute;
  top: 0;
  right: 0;
}


.darkness {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
  }
}

.main-logo a {
  width: 130px;
  height: 90px;
  padding-left: 70px;
  position: relative;
  display: flex;
  line-height: 90px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: $white;
  margin: 0 auto;

  &:before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    top: 17px;
    left: 0;
    background-color: $red;
    box-shadow: 2.5px 4.3px 6px rgba(0, 1, 1, 0.75);
  }

  &:after {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    top: 22px;
    left: 5px;
    background-color: $dark-blue;
    box-shadow: 2.5px 4.3px 6px rgba(0, 1, 1, 0.75);
  }

  span {
    color: $red;
    text-transform: none;
    position: relative;
    top: 5px;
    left: -4px;
  }
}


